In [6]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

df = pd.read_csv('/media/bumble/DATA_DISK/dk/python/learing/data.csv')

df_label = df.copy()

le = LabelEncoder()

# Gender Encoding
df_label['Gender_Encoded'] = le.fit_transform(df_label['Gender'])

# Passed Encoding
df_label['Passed_Encoded'] = le.fit_transform(df_label['Passed'])

# Name Encoding
df_label['Name_Encoding'] = le.fit_transform(df_label['Name'])

print('\nLabel Encoded Data')
print(df_label[['Name', 'Name_Encoding','Gender', 'Gender_Encoded', 'Passed', 'Passed_Encoded']])


df_encoded = pd.get_dummies(df_label, columns=['City'])
print('\n Encoded DATA')
print(df_encoded)

Label Encoded Data
      Name  Name_Encoding  Gender  Gender_Encoded Passed  Passed_Encoded
0     Aman              0    Male               1    Yes               1
1    Priya             12  Female               0    Yes               1
2    Rahul             13    Male               1     No               0
3   Anjali              1  Female               0    Yes               1
4     Ravi             16    Male               1    Yes               1
5    Meera              9  Female               0     No               0
6    Arjun              2    Male               1    Yes               1
7     Neha             10  Female               0    Yes               1
8    Imran              5    Male               1     No               0
9    Sneha             19  Female               0    Yes               1
10     Raj             14    Male               1    Yes               1
11   Divya              4  Female               0     No               0
12   Kabir              7    Male               1    Yes               1
13  Simran             18  Female               0    Yes               1
14   Karan              8    Male               1     No               0
15   Pooja             11  Female               0    Yes               1
16  Rakesh             15    Male               1    Yes               1
17    Isha              6  Female               0     No               0
18   Rohit             17    Male               1    Yes               1
19   Deepa              3  Female               0    Yes               1

 Encoded DATA
      Name  Gender Passed  Gender_Encoded  Passed_Encoded  Name_Encoding  \
0     Aman    Male    Yes               1               1              0
1    Priya  Female    Yes               0               1             12
2    Rahul    Male     No               1               0             13
3   Anjali  Female    Yes               0               1              1
4     Ravi    Male    Yes               1               1             16
5    Meera  Female     No               0               0              9
6    Arjun    Male    Yes               1               1              2
7     Neha  Female    Yes               0               1             10
8    Imran    Male     No               1               0              5
9    Sneha  Female    Yes               0               1             19
10     Raj    Male    Yes               1               1             14
11   Divya  Female     No               0               0              4
12   Kabir    Male    Yes               1               1              7
13  Simran  Female    Yes               0               1             18
14   Karan    Male     No               1               0              8
15   Pooja  Female    Yes               0               1             11
16  Rakesh    Male    Yes               1               1             15
17    Isha  Female     No               0               0              6
18   Rohit    Male    Yes               1               1             17
19   Deepa  Female    Yes               0               1              3

    City_Bangalore  City_Chennai  City_Delhi  City_Mumbai
0            False         False        True        False
1            False         False       False         True
2             True         False       False        False
3            False         False       False         True
4            False         False        True        False
5            False          True       False        False
6             True         False       False        False
7            False         False        True        False
8            False          True       False        False
9            False         False       False         True
10           False          True       False        False
11           False         False        True        False
12           False         False       False         True
13            True         False       False        False
14           False         False        True        False
15           False         False       False         True
16           False          True       False        False
17           False         False        True        False
18           False         False        True        False
19            True         False       False        False